.footer-container{
    background-color: #f0fcff;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 600;
}

img{
    width: 30px;
    height: 30px;
}

p{
    margin-bottom: 1rem;
}

