.navbar {
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: #f0fcff;
}

.logo-nav {
  margin-left: 9rem;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-top: 1rem;
}

.option-nav {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-right: 9rem;
  gap: 3rem;
  list-style-type: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  cursor: pointer;
}