.content {
  background-color: #f0fcff;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    width: 300px;
    height: 300px;
    background-color: #e2f9ff;
    border-radius: 10px;

    .infoCard {
      text-align: center;
      font-family: "Courier New", Courier, monospace;
    }

    .imgCard {
      text-align: center;

      .img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 100%;
        text-align: center;
      }
    }
  }
}

.welcome {
  font-size: 60px;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: #f0fcff;
  margin-top: 2rem;
}

.btn {
  width: 100%;
  justify-content: center;
  display: flex;
  button {
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    width: 100px;
    height: 30px;
    color: #2c3539;
    justify-content: center;
    align-items: center;
    background-color: #e2f9ff;
    margin: 0 15px;
    border: hidden;
    border-radius: 20px;
  }
  button:hover {
    border: #e2f9ff solid 1px;
    background-color: #54c487;
    color: #e2f9ff;
  }
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  font-family: "Courier New", Courier, monospace;
  align-items: center;
}

input,
select {
  width: 300px;
  height: 50px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 20px;
  border: hidden;
  background-color: #e2f9ff;
  color: #2c3539;
  outline-color: #54c487;
}

.searchBtn {
  width: 200px;
  height: 50px;
  color: #2c3539;
  justify-content: center;
  align-items: center;
  background-color: #e2f9ff;
  margin: 0 15px;
  border: hidden;
  border-radius: 20px;
  font-weight: 600;
}

.searchBtn:hover {
  border: #e2f9ff solid 1px;
  background-color: #54c487;
  color: #e2f9ff;
}

.rotate {
  transition: transform 1s;
}

.rotate:hover {
  transform: rotateZ(180deg);
}

.img:hover {
  border-radius: 100%;
  border: #2c3539 solid 2px;
}

.contentId {
  background-color: #f0fcff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.cardId {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  background-color: #e2f9ff;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.textId {
  justify-content: center;
  align-items: center;
  height: auto;
}
.imgId {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  margin-top: 10px;
}

.btnId {
  align-items: start;
  width: 100px;
}

.infoId {
  font-weight: 600;
}

.arrowContainer{
  margin-bottom: 1rem;
}

.arrowBackImg{
  cursor: pointer;
}


@media (max-width: 620px) {
  .welcomeImg {
    width: 300px;
    height: 100px;
  }

  form {
    width: 300px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  select,
  input {
    height: 30px;
  }

  .searchBtn {
    width: 150px;
    height: 30px;
    margin: auto;
  }
}
